<link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="box shadow-lg">
    <h1 class="text-center ">@ViewData["Title"]</h1>

    <h3>1. Informações que Coletamos</h3>
    <p class="fs-3">
        Quando você visita nosso site, coletamos automaticamente determinadas informações sobre o seu dispositivo, incluindo
        informações sobre seu navegador, endereço IP e alguns dos cookies que estão instalados no seu dispositivo. Além disso,
        à medida que você navega pelo site, coletamos informações sobre as páginas individuais que você visualiza, quais sites
        ou termos de pesquisa o direcionaram para o site, e como você interage com ele.
        Também coletamos informações que você nos fornece diretamente, como seu nome, e-mail, endereço de entrega e detalhes do pedido, caso faça uma
        compra ou crie uma conta.
    </p>
    <h3>2. Como Usamos Suas Informações</h3>
    <p class="fs-3">
        Utilizamos as informações que coletamos para:
        <ul>

            <li>Processar pedidos e gerenciar transações.</li>
            <li>Enviar e-mails com atualizações do pedido e comunicações sobre produtos.</li>
            <li>Melhorar a funcionalidade do nosso site.</li>
            <li>Para finalidades de marketing, como envio de promoções e ofertas, se você concordar com isso.</li>
        </ul>
    </p>
    <h3>3. Compartilhamento das Suas Informações</h3>
    <p class ="fs-3">
       Nós não vendemos suas informações pessoais para terceiros. No entanto, podemos compartilhar suas informações com prestadores de 
       serviços terceirizados que nos auxiliam a processar os pedidos e pagamentos, ou entregar produtos.
       Além disso, podemos divulgar informações se formos obrigados por lei a fazê-lo.
    </p>
    <h3>4. Cookies</h3>
    <p class="fs-3">
      Nosso site utiliza cookies para garantir uma melhor experiência ao usuário. Cookies são pequenos arquivos de dados que são colocados no seu
      dispositivo. Você pode configurar seu navegador para recusar cookies ou alerta-lo quando um cookie estiver sendo enviado.
    </p>
    <h3>5. Seus Direitos</h3>
    <p class="fs-3">
        Você tem o direito de acessar, corrigir ou solicitar a exclusão das informações pessoais que temos sobre você. Se desejar exercer esses direitos, 
        entre em contato conosco através do e-mail indicado abaixo.
    </p>
    <h3>6. Alterações a Esta Política</h3>
    <p class="fs-3">
        Podemos atualizar esta política de privacidade periodicamente para refletir mudanças em nossas práticas ou por outros motivos operacionais, legais ou 
        regulatórios. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer atualizações.
    </p>  
    <h3>7. Contato</h3>
    <p class="fs-3">
        Para mais informações sobre nossas práticas de privacidade, ou se você tiver dúvidas, entre em contato conosco: <p class="p-email fs-3">suporte@cakesedesserts.com</p></div>
    </p>
</div>

