<link rel="stylesheet" href="~/css/sobrenos.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="box shadow-lg">
    <h1>@ViewData["Title"]</h1>
    <p class="fs-3">
        Bem vindo(a) á <span class="span">Cakes e Desserts</span>! Somos apaixonados por criar doces irresistíveis, feitos sob encomenda para tornar
        seus momentos ainda mais especiais. Nossa missão é trazer o sabor caseiro com ingredientes de qualidade, preparados com muito carinho e
        dedicação.

        Somos especializados em bolos, tortas e cupcakes, prontos para serem encomendados diretamente através do nosso site. Cada receita é cuidadosamente
        elaborada para oferecer o melhor sabor e garantir que você receba uma sobremesa deliciosa e fresquinha.
    </p>
    <h1 class="mt-4">Nossa História</h1>
    <p class="fs-3">
        A <span class="span">Cakes e Desserts</span> surgiu do desejo de compartilhar doces que encantam tanto pelo sabor quanto pela apresentação. Trabalhamos com receitas tradicionais
    que conquistam todos os paladares, mantendo o foco na qualidade e no frescor.
    </p>
    <h1 class="mt-4">O que Fazemos</h1>
    <p class="fs-3">
    Oferecemos uma seleção exclusiva de bolos, tortas e cupcakes, todos disponíveis para encomenda diretamente no site. Aqui você encontra
    sobremesas perfeitas para qualquer ocasião, preparadas sempre com muito cuidado e atenção aos detalhes. Nossos produtos incluem:
    </p>
    <p class="fs-3">
    <ul>
        <li><span class="fw-bold">Bolos:</span> Receitas clássicas, em diversos sabores, com combinações que agradam a todos.</li>
            <li><span class="fw-bold">Tortas:</span> Sobremesas de dar água na boca, com recheios e coberturas que derretem na boca.</li>
            <li><span class="fw-bold">Cupcakes:</span> Sobremesas de dar água na boca, com recheios e coberturas que derretem na boca.</li>
    </ul>
    </p>
    <h1 class="mt-4">Encomendas e Contato</h1>
    <p class="fs-3">
    Trabalhamos com os produtos listados em nosso site, prontos para serem encomendados com facilidade. Se você precisar de algo diferente
    do que oferecemos, sinta-se á vontade para entrar em contato conosco. Faremos o possível para atender a sua solicitação.
    </p>
    <h1 class="mt-4">Nosso Compromisso</h1>
    <p class="fs-3">
        Na <span class="span">Cakes e Desserts</span>, nosso foco é a qualidade. Todos os nossos doces são preparados com ingredientes selecionados, garantindo frescor e sabor em cada
    entrega. Estamos comprometidos em oferecer um serviço eficiente e um atendimento atencioso, para que sua experiência seja sempre a melhor possível.
    </p>
</div>

