.box {
    background-color: white;
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 20px;
}

th {
    font-size: 45px;
    color: black;
    font-weight: 200;
}

td {
    font-size: 40px;
    
}

.a-link {
    background-color: #e48f9b;
    color: white;
    font-size: 40px;
    margin-top: 12px;
    width: 20%;
    border-radius: 30px;
   
}

.a-link:hover{
    color: white;
}

.button {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: #e48f9b;
}

.p-carrinho {
    display: flex;
    justify-content: right;
    padding-right: 150px;
    margin-top: 30px;
}

.a-cont {
    color: #e48f9b;
    font-size: 41px;
    display: flex;
    justify-content: right;
}

.i-trash {
    color: #e48f9b;
}

.btn{
    
    margin-bottom: 20px;
}

.input-number{
    display:flex;
    align-items: center;
}

.input-number input{
    width: 60px;
    text-align: center;
    margin: 0 5px;
}

.input-number button{
   width: 35px;
   height: 35px;
   border: none;
   background-color: white;
   color: black;
   border-radius: 5px;
   cursor: pointer;
}

.input-number button:hover{
    background-color: white;
    color: black;
}

input[type=number]{
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
