.box {
    background-color: white;
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 70px;
    padding: 20px;
}

.tb-h {
    color: #e48f9b;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 15px;
}

.btn-excluir {
    color: #e48f9b;
    background-color: white;
    border: none;
    display: flex;
    margin-top: 20px;
    font-size: 45px;
}

.a-link {
    margin-left: 8px;
    text-decoration: none;
    color: #e48f9b;
    font-size: 38px;
}

.btn {
    text-decoration: none;
    color: #e48f9b;
    font-size: 38px;
}

.btn:hover{
    border:solid red;
    color: red;
}

dd {
    font-size: 45px;
}