.box {
    background-color: white;
    height: auto;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 20px;
    font-size: 35px;
    text-align: left;
}

input {
    font-size: 5px;
}

.form-control {
    font-size: 25px;
}

.form-group {
    margin-top: 10px;
}

.btn-salvar {
    background-color: white;
    color: #e48f9b;
    font-size: 40px;
    margin-top: 12px;
    width: 15%;
    border: none;
}

.btn:hover {
    color: #e48f9b;
}

i {
    color: #e48f9b;
}

.a-link {
    margin-top: 50px;
    color: #e48f9b;
}

.a-link:hover {
    color: black;
}
