.linha {
    border-bottom: 1px solid #acacac;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.carousel-inner {
    width: 70%;
    height: auto%;
    background-size: cover;
    display: flex;
    margin: 0 auto;
}

.imgefeito {
    transition: transform 0.3s ease-in-out;
}

    .imgefeito:hover {
        transform: scale(1.1);
    }

h1 {
    color: #5e5b5b;
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: auto;
    }
}
