.box {
    background-color: white;
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 70px;
    padding: 20px;
}

.titulo{
    color: #808080;
    font-size: 40px;
}

.box2 {
    border: solid #f7ebec 5px;
    border-radius: 4px;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
}

.box-info {
    border: solid #f7ebec 5px;
    border-radius: 4px;
    width: 60%;
    margin: 50px auto;
}
.alerta {
    width: 40%;
    padding: px;
    display: flex;
    justify-content: center;
    margin: 40px auto 10px auto;
}

.ul-info {
    margin: 4%;
}

li{
    font-size: 35px;
}

.a-link:hover {
    color: black;
}

.a-link {
    color: #e48f9b;
    text-decoration: none;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
