.box {
    background-color: white;
    height: auto;
    width: 95%;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 70px;
    padding: 20px;
}
.tb-h {
    color: #e48f9b;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 2px;
}

.tb-img{
   width: 100px;
}

td {
    font-size: 32px;
    padding-top: 50px;
}

th {
    font-size: 30px;
}

.text-limite-descr {
    max-width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-limite-data {
    max-width: 1ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-details {
    color: #e48f9b;
    border: none;
    font-size: 30px;
    margin-bottom: 12px;
}

.btn-excluir {
    color: #e48f9b;
    border: none;
    font-size: 30px;
    margin-bottom: 12px;
}

.a-link {
    margin-left: 8px;
    text-decoration: none;
    color: #e48f9b;
    font-size: 34px;
    margin-top: 35px;
}