@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha";
}

<link rel="stylesheet" href="~/css/forgotpassword.css" asp-append-version="true" />

<div class="row box shadow-lg">
    <div class="col-md box1">
        <h1>@ViewData["Title"]</h1>
        <h5 class="fs-3">Preencha o e-mail abaixo para solicitar a recuperação de senha.</h5></h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 fs-3">
                <input asp-for="Input.Email" class="form-control fs-3" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label fs-3"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <h6>Você irá receber um e-mail no endereço informado acima com o link para criar uma nova senha para esse usuário. </h6>
            <button type="submit" class="btn w-75 mt-2">Enviar link de recuperação</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
