<link rel="stylesheet" href="~/css/faleconosco.css" asp-append-version="true" />

@model Confeitaria.App.ViewModels.FaleConoscoViewModel

@{
    ViewData["Title"] = "Fale Conosco";
}

<div class="box shadow-lg">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-center fs-3">Para entrar em contato com a Cakes e Desserts, preencha o formulário abaixo:</h2>
            <div class="form-group col-md-6">
                @*   <label for="inputName">Nome</label>
                <input type="text" class="form-control fs-5" id="inputName" placeholder="Nome"> *@
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control fs-3" placeholder="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control fs-3" placeholder="E-mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Mensagem" class="control-label"></label>
                <textarea asp-for="Mensagem" class="form-control fs-3" type="text" rows="5"></textarea>
                <span asp-validation-for="Mensagem" class="text-danger"></span>
                @*   <label for="comment">Mensagem</label>
                <textarea class="form-control fs-4" rows="5" id="comment" name="text"></textarea> *@
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn-enviar">Enviar <i class="bi bi-send i-enviar"></i></button>
            </div>
            <h1 class="text-center fs-2 mt-5">ou entre em contato com a gente via:</h1>
            <div class="form-group col-md-6 contato1">
                <p class="text-decoration-none gray">
                    <i class="fa fa-envelope i-contato"></i> suporte@cakesedesserts.com
                </p>
                <div>
                    <p class="text-decoration-none text-secondary">
                        <i class="bi bi-whatsapp i-contato"></i> +55 (11) 90000-0000
                    </p>
                </div>
                <div>
                    <p class="text-decoration-none text-secondary">
                        <i class="fa fa-phone mb-2 i-contato"> </i> (11) 0000-0000
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6 contato2">
                <a class="text-decoration-none">
                    <i class="bi bi-facebook i-contato"></i>
                </a>
                <i class="bi bi-twitter ms-5 i-contato"></i>
                <i class="bi bi-instagram ms-5 i-contato"></i>

            </div>

        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}